/* Bialys CSS */

.bial {
    background-color: green;
    color: white;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.bagel {
    height: auto;
    width: 500px;
}

.head {
    font-size: 40px;
    color: white;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Finadene */

